extends ../layout

block content
  .content
    .row
      form.form-horizontal(method="post", action="admin/movie/new")
        .form-group
          label.col-sm-2.control-label(for="inputTitle")电影名字
          .col-sm-10
            input#inputTitle.form-control(type="text",name="move[title]",value="#{movie.title}")

          label.col-sm-2.control-label(for="inputDoctor")电影导演
          .col-sm-10
            input#inputDoctor.form-control(type="text",name="move[doctor]",value="#{movie.doctor}")

          label.col-sm-2.control-label(for="inputCountry")国家
          .col-sm-10
            input#inputCountry.form-control(type="text",name="move[country]",value="#{movie.country}")

          label.col-sm-2.control-label(for="inputLanguage")语种
          .col-sm-10
            input#inputTitle.form-control(type="text",name="move[language]",value="#{movie.language}")

          label.col-sm-2.control-label(for="inputPoster")海报地址
          .col-sm-10
            input#inputTitle.form-control(type="text",name="move[poster]",value="#{movie.poster}")

          label.col-sm-2.control-label(for="inputFlash")片源地址
          .col-sm-10
            input#inputTitle.form-control(type="text",name="move[flash]",value="#{movie.flash}")

          label.col-sm-2.control-label(for="inputYear")上映年代
          .col-sm-10
            input#inputTitle.form-control(type="text",name="move[year]",value="#{movie.year}")

          label.col-sm-2.control-label(for="inputSummary")电影简介
          .col-sm-10
            input#inputTitle.form-control(type="text",name="move[summary]",value="#{movie.summary}")